// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
// $bg-color-1: #1a1e26;
// $bg-color-1: #303030;
$bg-color-1: #1d1d1d;

$bg-color-2: #1d3557;
$bg-color-3: #14213d;
$bg-color-4: #03071e;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
