// Smartphones
@media (max-width: 600px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-inner {
      height: 10rem;
    }
  }
}
