// Smartphones
@media (max-width: 600px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-inner {
      height: 10rem;
    }
  }

  // Stack Grid Columns
  .projects {
    grid-template-columns: 1fr;
  }

  // About
  #about {
    .about-info {
      grid-template-areas:
        "bioimage"
        "bio";
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }
  }
}
